.app {
  padding: 20px 50px;
}

.title {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 1.5em;
}

h1 {
  font-weight: 300;
}

pre {
  background-color: #ededed;
}

.side-note {
  background-color: #fff0da;
  padding: 10px 20px;

  h2 {
    font-weight: 300;
  }
}
